@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@300&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500&family=Roboto:ital,wght@1,500&family=Sora:wght@400;700&family=Work+Sans:ital,wght@0,200;0,400;0,500;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Inter:wght@300&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500&family=Roboto:ital,wght@1,500&family=Sora:wght@400;700&family=Work+Sans:ital,wght@0,400;0,500;1,400&display=swap");

* {
    font-family: "Inter", sans-serif;
    font-family: "Arimo", sans-serif;
    font-family: "Inter", sans-serif;
    font-family: "Nunito Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Sora", sans-serif;
    font-family: "Work Sans", sans-serif;
}
